<h1> Employee Management</h1>
<h5> On this page you can add, delete or update employees</h5>

<br />
<br />
<table id="employeeTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>#MarkOtto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>#JacobThornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>#LarryBird</td>
        </tr>
    </tbody>
</table>

<br />

@section scripts {
    <script>
        $(document).ready(function () {
            $("#employeeTable").DataTable();
        });
    </script>
}